<% if admin_user? %>
<%= form_with(model: club) do |form| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
        <% club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <div class="row">
  <div class="col">
     <%= form.text_field :club_name, placeholder: "Numele Clubului", class: "form-control"  %>
  </div>
  <div class="col">
     <%= form.text_field :territory, placeholder: "Teritoriu", class: "form-control"  %>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
     <%= form.text_field :representative, placeholder: "Representant", class: "form-control"  %>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
     <%= form.text_field :phone, placeholder: "Telefon", class: "form-control"  %>
  </div>
    <div class="col">
     <%= form.text_field :email, placeholder: "Email", class: "form-control"  %>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <%= form.text_field :alternative_club_name, placeholder: "Alte nume", class: "form-control"  %>
  </div>
</div>
<br>
 <div class="actions">
  <% text = @club.id ? "Actualizează" : "Crează" %>
    <%= form.submit "#{text} Club", class: "btn btn-success btn-sm"%>
    <%= link_to 'Inapoi', request.referer, class: "btn btn-secondary btn-sm" %>
</div>
<% end %>
<% else %>

<h3> Doar administratorul poate adăuga club </h3>
<% end %>
