<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <div class="col">
        <%= form.label :date ,'Data'%>
        <%= form.date_select :date, {order: [:day, :month, :year], use_month_numbers: true, end_year: Date.today.year, start_year: 2015 } , class: "date-select" %>
    </div>
</div>

<div class="row">
    <div class="col">
        <%= form.select :runner_id, options_for_select(Runner.all.map { |runner| ["#{runner.runner_name} #{runner.surname}", runner.id] }, selected: entry&.runner_id), {}, { class: "form-select form-group form-control" } %>

    </div>
    <div class="col">
        <%= form.select :category_id,  options_for_select(Category.all.map { |category| [category.category_name, category.id] }, selected: entry&.category_id), {},{class: "form-select form-group form-control"} %>
    </div>
        <div class="col">
         <%= form.select :status, options_for_select(["confirmed", "unconfirmed", "pending"],selected: entry&.status), {},{class: "form-select form-group form-control"} %>
    </div>
</div>

 <div class="actions">
    <%= form.submit class: "btn btn-success btn-sm"%>
    <%= link_to 'Inapoi', request.referer, class: "btn btn-secondary btn-sm" %>
</div>
<% end %>
