<p id="notice">
    <%= notice %>
</p>
<h1 style="text-align:center; color:green">Categorii în așteptare</h1>
<%= form_tag(entries_path, method: :get) do %>
<%= label_tag "runner_id", "Sportiv", class: "label-filter" %>
<%= select_tag :runner_id, options_for_select(Runner.order("runner_name", "surname").map { |runner| ["#{runner.runner_name} #{runner.surname}", runner.id] }, params[:runner_id]), include_blank: "Toti Sportivi", class: "custom-select" %>
<br>
<%= label_tag "competition_id", "Competitia", class: "label-filter" %>
<%= select_tag :competition_id, options_for_select(Competition.all.map { |comp| ["#{comp.competition_name} #{comp.date.year} #{comp.distance_type}", comp.id] }, params[:competition_id]), include_blank: "Toate Competitiile", class: "custom-select" %>
<br>
<%= label_tag "date[from]", "Data: De la", class: "label-filter", for: "date[from]" %>
<%= text_field_tag "date[from]", params.dig("date","from"), id: "date[from]", placeholder: "zz/ll/aaaa", class: "datepicker custom-select" %>
<%= label_tag "date[to]", "Pina la", class: "label-filter", for: "date[to]" %>
<%= text_field_tag "date[to]", params.dig("date","to"), id: "date[to]", placeholder: "zz/ll/aaaa", class: "datepicker custom-select" %>
<hr>
<%= check_box_tag 'status[]', 'confirmed', params[:status]&.include?('confirmed'), id: 'confirmed-checkbox' %>
<%= label_tag 'confirmed-checkbox', 'Confirmed' %>
<%= check_box_tag 'status[]', 'unconfirmed', params[:status]&.include?('unconfirmed'), id: 'unconfirmed-checkbox' %>
<%= label_tag 'unconfirmed-checkbox', 'Unconfirmed' %>
<%= check_box_tag 'status[]', 'pending', params[:status]&.include?('pending'), id: 'pending-checkbox' %>
<%= label_tag 'pending-checkbox', 'Pending' %>
<%= submit_tag 'Filter' %>
<% end %>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-primary">
        <tr>
            <th scope="col" class="sortable" data-sort-by="date">
                <%= link_to 'Data' %>
            </th>
            <th class="sortable" data-sort-by="runner_name">
                <%= link_to 'Sportiv'%>
            </th>
            <th class="sortable" data-sort-by="runner_category_id">
                <%= link_to 'Categoria actuală'%>
            </th>
            <th class="sortable" data-sort-by="category_id">
                <%= link_to 'Categoria indeplinita'%>
            </th>
            <th class="sortable" data-sort-by="competition_name">
                <%= link_to 'Competitia'%>
            </th>
            <th class="sortable" data-sort-by="wre_points">
                <%= link_to 'Wre Puncte' %>
            </th>
            <th class="sortable" data-sort-by="status">
                <%= link_to 'Status'%>
            </th>
            <th colspan="4">Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        <% @entries.each do |entry| %>
        <tr>
            <td>
                <%= link_to entry.date, entry %>
            </td>
            <td>
                <%= link_to "#{entry.runner.runner_name} #{entry.runner.surname} (#{entry.runner.id})", entry.runner  %>
            </td>
            <td>
                <%= entry.runner.category.category_name %>
            </td>
            <td>
                <%= entry.category.category_name %>
            </td>
            <td>
                <%= link_to "#{entry.result.group.competition.competition_name} (#{entry.result.group.group_name})", entry.result %>
            </td>
            <td>
                <%= entry.result.wre_points %>
            </td>
            <td>
                <%= entry.status %>
            </td>
            <% if admin_user? %>
            <td>
                <%= link_to confirm_entry_path(entry), method: :patch do %>
                <%= image_tag "/confirm.png", alt: "Approve", size: "35x30" %>
                <% end %>
            </td>
            <td>
                <%= link_to pending_entry_path(entry), method: :patch do %>
                <%= image_tag "/pending.jpeg", alt: "Pending", size: "30x30" %>
                <% end %>
            </td>
            <td>
                <%= link_to reject_entry_path(entry), method: :delete do %>
                <%= image_tag "/reject.jpeg", alt: "Pending", size: "30x30" %>
                <% end %>
            </td>
            <td>
                <%= link_to 'Editează', edit_polymorphic_path(entry), class: "btn btn-success btn-sm"%>
            </td>
            <% else %>
            <td>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
<br>
<%= link_to 'New Entry', new_entry_path %>
