<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Runner:</strong>
  <%= @entry.runner_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @entry.result_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @entry.status %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
