<p id="notice">
    <%= notice %>
</p>
<div class="mt-4 p-5 bg-light text-black rounded --bs-gray-500">
    <h1>
        <%= @competition.competition_name %>
    </h1>
    <p>
        <strong>Data:</strong>
        <%= @competition.date.strftime("%d/%m/%Y") %>
    </p>
    <p>
        <strong>Tipul Distantei</strong>
        <%= @competition.distance_type %>
    </p>
    <hr class="my-4">
    <p>
        <strong>Orasul</strong>
        <%= @competition.location%>
    </p>
    <p>
        <strong>Tara</strong>
        <%= @competition.country %>
    </p>
    <% if wre_id = @competition.wre_id %>
    <p>
        <strong>WRE ID</strong>
        <%= wre_id %>
    </p>
    <% end %>
    <% if admin_user? %>
    <%= form_tag(set_ecn_competition_path, method: :post) do %>
    <%= hidden_field_tag :id, @competition.id %>
    <% text = @competition.ecn ? "Exclude din ECN" : "Adauga la ECN" %>
    <%= submit_tag text, class: "btn btn-info btn-sm" %>
    <% end %>
    <br>
    <% if @competition.ecn %>
    <%= link_to 'Seteaza Coeficientii Grupelor', group_ecn_coeficients_competition_path(@competition), class: "btn btn-warning btn-sm" %>
    <% end %>
    <hr class="my-4">
    <%= link_to 'Actualizeaza Clasele Grupelor', update_group_clasa_competition_path(@competition), class: "btn btn-success btn-sm" %>
    <hr class="my-4">
    <%= link_to 'Sportivi noi', new_runners_competition_path(@competition), class: "btn btn-danger btn-sm" %>
    <hr class="my-4">
    <% end %>
    <ul class="nav nav-pills">
        <% @competition.groups.order(:group_name).each_with_index do |group, index| %>
        <li class="nav-item">
            <a class="nav-link <%= " active" if index.zero?%>" data-bs-toggle="pill" href="#menu
                <%=group.group_name %>">
                <%=group.group_name%></a>
        </li>
        <% end%>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <% @competition.groups.order(:group_name).each_with_index do |group, index| %>
        <div class="tab-pane container <%= index.zero? ? " active" : "fade" %>" id="menu
            <%=group.group_name %>">
            <% results = filter_results({ group_id: group.id, "sort_by" => "place", "direction" => "asc" }.merge(params.to_unsafe_h)).includes(:group, :category) %>
            <%= render partial: 'results/results_table', locals: { results: results, show_pagination: false } %>
            <% if admin_user? %>
            <%= form_tag(count_rang_path, method: :post) do %>
            <%= hidden_field_tag :id, group.id %>
            <%= submit_tag 'Calculeaza categoriile', class: "btn btn-info btn-sm" %>
            <% end %>
            <% end %>
            <hr>
            <% if group.rang %>
            <%  percent_and_time_data = GroupCategoriesUpdater.new(group).get_percent_and_times %>
            <div>Rang:
                <%= group.rang %>
            </div>
            <br>
            <div class="half-width-table">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-warning">
                        <tr>
                            <th scope="col"> Categoria
                            </th>
                            <th> Procente
                            </th>
                            <th> Timpul
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% percent_and_time_data.each do |cat| %>
                        <tr>
                            <td>
                                <%= cat[:category] %>
                            </td>
                            <td>
                                <%= "#{cat[:percent]} %" %>
                            </td>
                            <td>
                                <%= cat[:time] %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <% end %>
        </div>
        <% end%>
    </div>
    <p class="lead">
        <% if admin_user? %>
        <%= link_to 'Editează', edit_polymorphic_path(@competition), class: "btn btn-success btn-sm" %>
        <%= link_to 'Șterge', @competition, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        <% end %>
        <%= link_to 'Înapoi', request.referer, class: "btn btn-secondary btn-sm" %>
    </p>
</div>

<script>
$(document).ready(function() {
    $('.nav-link').on('click', function(e) {
        e.preventDefault(); // Prevent the default behavior of the link

        var group = $(this).text();
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('group', group);
        window.history.replaceState({}, '', currentUrl);
    });
});

document.addEventListener('turbolinks:load', function() {
    var urlParams = new URLSearchParams(window.location.search);
    var group = urlParams.get('group');
    $('a[href="#menu' + group + '"]').tab('show');
});
</script>
