

<p id="notice">
    <%= notice %>
</p>
<div class="mt-4 p-5 bg-light text-black rounded --bs-gray-500">
    <h1>
        <%= @competition.competition_name %>
    </h1>
    <p>
        <strong>Data:</strong>
        <%= @competition.date.strftime("%d/%m/%Y") %>
    </p>
    <p>
        <strong>Tipul Distantei</strong>
        <%= @competition.distance_type %>
    </p>
    <hr class="my-4">
     <p>
        <strong>Orasul</strong>
        <%= @competition.location%>
    </p>
     <p>
        <strong>Tara</strong>
        <%= @competition.country %>
    </p>
    <% if wre_id = @competition.wre_id %>
       <p>
        <strong>WRE ID</strong>
        <%= wre_id %>
    </p>
    <% end %>
    <% if admin_user? %>
    <hr class="my-4">
    <%= link_to 'Actualizeaza Clasele Grupelor', update_group_clasa_competition_path(@competition), class: "btn btn-success btn-sm" %>
    <hr class="my-4">
    <% end %>
<ul class="nav nav-pills">
  <% @competition.groups.order(:group_name).each_with_index do |group, index| %>
  <li class="nav-item">
    <a class="nav-link <%= "active" if index.zero?%>" data-bs-toggle="pill" href="#menu<%=group.group_name %>"><%=group.group_name%></a>
  </li>
  <% end%>
</ul>

<!-- Tab panes -->
<div class="tab-content">
   <% @competition.groups.order(:group_name).each_with_index do |group, index| %>
  <div class="tab-pane container <%= index.zero? ? "active" : "fade"%>" id="menu<%=group.group_name %>">

  <table class="table table-striped table-bordered table-hover">
  <thead class="table-primary">
     <tr>
      <th scope="col"> <%= link_to 'Locul' %></th>
      <th><%= link_to 'Sportiv'%></th>
      <th><%= link_to 'Categoria actuală'%></th>
      <th><%= link_to 'Timpul'%></th>
      <th><%= link_to 'Categoria indeplinita' %></th>
      <th><%= link_to 'Grupa' %></th>
      <th><%= link_to 'Wre Puncte' %></th>
    </tr>
  </thead>

  <tbody>
     <% group.results.order(:place).each do |result| %>
      <tr>
        <td><%= result.place %></td>
        <td><%= link_to "#{result.runner.runner_name} #{result.runner.surname}", result.runner  %></td>
        <td><%= (Entry.where(status: "confirmed").where(runner_id: result.runner_id).where('date < ?', result.date).order(date: :desc).first&.category || Category.find(10))&.category_name %></td>
        <td><%= Time.at(result.time).utc.strftime('%H:%M:%S') %></td>
        <td><%= result.category.category_name %></td>
        <td><%= link_to result.group.group_name, result.group %></td>
        <td><%= result.wre_points %></td>


      </tr>
      <% end %>
  </tbody>
</table>
          <% if admin_user? %>
    <%= form_tag(count_rang_path, method: :post) do %>
    <%= hidden_field_tag :id, group.id %>
    <%= submit_tag 'Calculeaza categoriile', class: "btn btn-info btn-sm" %>
    <% end %>
    <% end %>
    <hr>

<% if group.rang %>
        <%  percent_and_time_data = GroupCategoriesUpdater.new(group).get_percent_and_times %>
        <div class="half-width-table">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-warning">
                    <tr>
                        <th scope="col"> Categoria
                        </th>
                        <th> Procente
                        </th>
                        <th> Timpul
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% percent_and_time_data.each do |cat| %>
                    <tr>
                        <td>
                            <%= cat[:category] %>
                        </td>
                        <td>
                            <%= "#{cat[:percent]} %" %>
                        </td>
                        <td>
                            <%= cat[:time] %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <% end %>




    </div>
  <% end%>

</div>

 <p class="lead">
        <% if admin_user? %>
        <%= link_to 'Editează', edit_polymorphic_path(@competition), class: "btn btn-success btn-sm" %>
        <%= link_to 'Șterge', @competition, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        <% end %>
        <%= link_to 'Înapoi', request.referer, class: "btn btn-secondary btn-sm" %>
    </p>
</div>

