<table class="table table-striped table-bordered table-hover" id="runners-table">
    <thead class="table-primary">
        <tr>
            <th scope="col" class="sortable" data-sort-by="id">
                <%= link_to 'FOS ID' %>
            </th>
            <th class="sortable" data-sort-by="runner">
                <%= link_to 'Nume' %>
            </th>
            <th class="sortable" data-sort-by="best_category_id">
                <%= link_to 'Titlul Sportiv' %>
            </th>
            <th class="sortable" data-sort-by="gender">
                <%= link_to 'Genul' %>
            </th>
            <th class="sortable" data-sort-by="dob">
                <%= link_to 'Data Nastere'%>
            </th>
            <% unless controller.class == ClubsController %>
            <th class="sortable" data-sort-by="club">
                <%= link_to 'Club' %>
            </th>
            <% end %>
            <% unless controller.class == CategoriesController %>
            <th class="sortable" data-sort-by="category_id">
                <%= link_to 'Categorie Valida' %>
            </th>
            <% end %>
            <th class="sortable" data-sort-by="category_valid">
                <%= link_to 'Valabilitate ' %>
            </th>
            <th class="sortable" data-sort-by="wre_id">
                <%= link_to 'WRE ID' %>
            </th>
            <th class="sortable" data-sort-by="sprint_wre_rang">
                <%= link_to 'Sprint WRE' %>
            </th>
            <th class="sortable" data-sort-by="forest_wre_rang">
                <%= link_to 'Padure WRE' %>
            </th>
            <% if controller.class == RunnersController %>
            <th colspan="3">Acțiuni</th>
             <% end %>
        </tr>
    </thead>
    <tbody>
        <% runners.each do |runner| %>
        <tr>
            <td>
                <%= runner.id %>
            </td>
            <td>
                <%= link_to "#{runner.runner_name} #{runner.surname}", runner %>
            </td>
            <td>
                <%= runner.best_category.category_name %>
            </td>
            <td>
                <%= runner.gender %>
            </td>
            <td>
                <%= runner.dob.strftime("%d/%m/%Y") %>
            </td>
            <% unless controller.class == ClubsController %>
            <td>
                <%= link_to runner.club&.club_name, runner.club %>
            </td>
            <% end %>
            <% unless controller.class == CategoriesController %>
            <td>
                <%= runner.category.category_name %>
            </td>
            <% end %>
            <td>
                <%= runner.category_valid&.strftime("%d/%m/%Y") %>
            </td>
            <td>
                <%= runner.wre_id %>
            </td>
            <td>
                <%= "#{runner.sprint_wre_place}/#{runner.sprint_wre_rang}p" %>
            </td>
            <td>
                <%= "#{runner.forest_wre_place}/#{runner.forest_wre_rang}p" %>
            </td>
             <% if controller.class == RunnersController %>
            <td>
                <%= link_to 'Arată', runner, class: "btn btn-warning btn-sm"%>
            </td>
            <% if admin_user? || club_admin?(runner.club) %>
            <td>
                <%= link_to 'Editează', edit_polymorphic_path(runner), class: "btn btn-success btn-sm"%>
            </td>
            <td>
                <%= link_to 'Șterge', runner, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </td>
            <% end %>
             <% end %>
        </tr>
        <% end %>
    </tbody>
    <% if show_pagination %>
    <div class="pagination">
        <%= will_paginate runners, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
    <% end %>
</table>
