<p id="notice"><%= notice %></p>

<h1>Runners</h1>

<table>
  <thead>
    <tr>
      <th>Runner name</th>
      <th>Surname</th>
      <th>Dob</th>
      <th>Club</th>
      <th>Gender</th>
      <th>Wre</th>
      <th>Best category</th>
      <th>Category</th>
      <th>Category valid</th>
      <th>Sprint wre rang</th>
      <th>Forrest wre rang</th>
      <th>Checksum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runners.each do |runner| %>
      <tr>
        <td><%= runner.runner_name %></td>
        <td><%= runner.surname %></td>
        <td><%= runner.dob %></td>
        <td><%= runner.club %></td>
        <td><%= runner.gender %></td>
        <td><%= runner.wre_id %></td>
        <td><%= runner.best_category %></td>
        <td><%= runner.category %></td>
        <td><%= runner.category_valid %></td>
        <td><%= runner.sprint_wre_rang %></td>
        <td><%= runner.forrest_wre_rang %></td>
        <td><%= runner.checksum %></td>
        <td><%= link_to 'Show', runner %></td>
        <td><%= link_to 'Edit', edit_runner_path(runner) %></td>
        <td><%= link_to 'Destroy', runner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runner', new_runner_path %>
