<p id="notice">
    <%= notice %>
</p>
<div class="mt-4 p-5 bg-light text-black rounded --bs-gray-500">
    <h1>
        <%= "#{@runner.runner_name} #{@runner.surname}"  %>
    </h1>
    <p>
        <strong>Data Nasterii:</strong>
        <%= @runner.dob.strftime("%d/%m/%Y") %>
    </p>
    <p>
        <strong>Genul:</strong>
        <%= @runner.gender%>
    </p>
    <p>
        <strong>Club:</strong>
        <%= link_to @runner.club.club_name, @runner.club %>
    </p>
    <p>
        <strong>FOS ID:</strong>
        <%= @runner.id%>
    </p>
    <% if admin_user?  %>
    <hr>
    <%= form_tag merge_runner_path do %>
    <%= label_tag "merge_runner_id", "Uneste cu sportivul", class: "label-filter" %>
    <%= select_tag :merge_runner_id, options_for_select(Runner.where.not(id: @runner.id).order("runner_name", "surname").map { |runner| ["#{runner.runner_name} #{runner.surname}", runner.id] }, params[:runner_id]), class: "custom-select" %>
    <br>
    <%= label_tag "main", "Pastreaza Acesta",class: "label-filter" %>
    <%= check_box_tag :main, true, id: "main" %>
    <br>
    <%= submit_tag "Submit" %>
    <% end %>
    <% end %>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table>
                    <tr>
                        <td><strong>Titlul: </strong></td>
                        <td>
                            <%= @runner.best_category.category_name %>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Categoria actula: </strong></td>
                        <td>
                            <%= @runner.category.category_name %>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Valabila pina: </strong></td>
                        <td>
                            <%= @runner.category_valid&.strftime("%d/%m/%Y")%>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <table>
                    <tr>
                        <td><strong>WRE ID: </strong></td>
                        <td>
                            <%= link_to @runner.wre_id, "https://ranking.orienteering.org/PersonView?person=#{@runner.wre_id}" %>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Sprint WRE Ranking(Locul/Puncte): </strong></td>
                        <td>
                            <%= "#{@runner.sprint_wre_place}/#{@runner.sprint_wre_rang}" %>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Padure WRE Ranking(Locul/Puncte): </strong></td>
                        <td>
                            <%= "#{@runner.forest_wre_place}/#{@runner.forest_wre_rang}" %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <%= render partial: 'results/results_filter', locals: {runner: @runner} %>
    <%= render partial: 'results/results_table', locals: { results: @results, show_pagination: false } %>
    <p class="lead">
        <% if admin_user? || club_admin?(@runner.club) %>
        <%= link_to 'Editează', edit_polymorphic_path(@runner), class: "btn btn-success btn-sm" %>
        <%= link_to 'Șterge', @runner, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        <% end %>
        <%= link_to 'Înapoi', request.referer, class: "btn btn-secondary btn-sm" %>
    </p>
</div>
