<% if admin_user? || club_admin? %>
<%= form_with(model: group) do |form| %>
<% @form = form %>
<% if group.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
    <ul>
        <% group.errors.each do |error| %>
        <li>
            <%= error.full_message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="row">
    <div class="col">
        <%= form.text_field :group_name, placeholder: "Numele Grupei", class: "form-control"  %>
    </div>
    <div class="col">
        <%= form.select :competition_id,  options_for_select(Competition.all.map { |comp| [comp.competition_name, comp.id] } + [["Competitie Noua", nil]], selected: (@group.competition_id || 2)), {},{class: "form-select form-group form-control", onChange: "show_hide_new_competition('#{j(render(partial: 'competitions/create_competition', locals: { form: @form }))}')"} %>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <%= form.text_field :rang, placeholder: "Rang", class: "form-control"  %>
    </div>
    <div class="col">
        <%= form.select :clasa,  ["Seniori", "Juniori", "MSRM", "CMSRM"], {},{class: "form-select form-group form-control"} %>
    </div>
</div>
<br>
<div id="new-competition">
</div>
<div class="actions">
    <% text = @group.id ? "Actualizează" : "Crează" %>
    <%= form.submit "#{text} Grupa", class: "btn btn-success btn-sm"%>
    <%= link_to 'Inapoi', request.referer, class: "btn btn-secondary btn-sm" %>
</div>
<% end %>
<% else %>
<h3> Doar administratorul poate adăuga grupa </h3>
<% end %>
