<% results = filter_results({ group_id: group.id, "sort_by" => "place", "direction" => "asc" }.merge(params.to_unsafe_h)).includes(:group, :category) %>
<% if group.competition.distance_type&.include?("Stafeta") %>
     <%= render partial: 'results/relay_results_table', locals: { relay_results: group.relay_results, group_id: group.id, show_pagination: false } %>
     <% else %>
            <%= render partial: 'results/results_table', locals: { results: results, group_id: group.id, show_pagination: false } %>
            <% end %>
            <% if admin_user? %>
            <%= form_tag(count_rang_path, method: :post) do %>
            <%= hidden_field_tag :id, group.id %>
            <%= submit_tag 'Calculeaza categoriile', class: "btn btn-info btn-sm" %>
            <% end %>
            <% end %>
            <hr>
            <% if group.rang %>
            <% if group.competition.distance_type&.include?("Stafeta") %>
            <%  percent_and_time_data = RelayGroupCategoriesUpdater.new(group).get_percent_and_times %>
            <% else %>
            <%  percent_and_time_data = GroupCategoriesUpdater.new(group).get_percent_and_times %>
            <% end %>
            <br>
            <div class="half-width-table">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-warning">
                        <tr>
                            <th scope="col"> Categoria
                            </th>
                            <th> Procente
                            </th>
                            <th> Timpul
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% percent_and_time_data.each do |cat| %>
                        <tr>
                            <td>
                                <%= cat[:category] %>
                            </td>
                            <td>
                                <%= "#{cat[:percent]} %" %>
                            </td>
                            <td>
                                <%= cat[:time] %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div>Rang: <%= group.rang %> </div>
                        <% end %>
            <div>Clasa: <%= group.clasa.to_s[/\d{1,2}/] ? Category.find(group.clasa.to_i).category_name : group.clasa%> </div>

