<p id="notice">
    <%= notice %>
</p>
<h1 style="text-align:center; color:green">Grupe</h1>
<%= form_tag groups_path, method: :get, id: 'groups_search_form' do %>
<%= text_field_tag :search, params[:search], id: 'search', placeholder: "Cauta dupa Denumirea Grupei", class: "form-control mb-2"%>
<%= submit_tag "Cauta", class: "btn btn-info" %>
<hr>
<%= label_tag "competition_id", "Competitia", class: "label-filter" %>
<%= select_tag :competition_id, options_for_select(Competition.all.map { |comp| ["#{comp.competition_name} #{comp.date.year} #{comp.distance_type}", comp.id] }, params[:competition_id]), include_blank: "Toate Competitiile", class: "custom-select" %>
<br>
<%= label_tag "date[from]", "Data: De la", class: "label-filter", for: "date[from]" %>
<%= text_field_tag "date[from]", params.dig("date","from"), id: "date[from]", placeholder: "zz/ll/aaaa", class: "datepicker custom-select" %>
<%= label_tag "date[to]", "Pina la", class: "label-filter", for: "date[to]" %>
<%= text_field_tag "date[to]", params.dig("date","to"), id: "date[to]", placeholder: "zz/ll/aaaa", class: "datepicker custom-select" %>
<br>
<%= submit_tag "Filtreaza", class: "btn btn-info" %>
<% end %>
<hr>
<table class="table table-striped table-bordered table-hover" id="groups-table">
    <thead class="table-primary">
        <tr>
            <th scope="col" class="sortable" data-sort-by="group_name">
                <%= link_to 'Grupa' %>
            </th>
            <th class="sortable" data-sort-by="competition_name">
                <%= link_to 'Competitia' %>
            </th>
            <th class="sortable" data-sort-by="date">
                <%= link_to 'Data'%>
            </th>
            <th class="sortable" data-sort-by="rang">
                <%= link_to 'Rang'%>
            </th>
            <th colspan="3">Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        <% @groups.each do |group| %>
        <tr>
            <td>
                <%= link_to group.group_name, group %>
            </td>
            <td>
                <%= link_to group.competition.competition_name, group.competition %>
            </td>
            <td>
                <%= group.competition.date %>
            </td>
            <td>
                <%= group.rang %>
            </td>
            <td>
                <%= link_to 'Arată', group, class: "btn btn-warning btn-sm"%>
            </td>
            <% if admin_user? %>
            <td>
                <%= link_to 'Editează', edit_polymorphic_path(group), class: "btn btn-success btn-sm"%>
            </td>
            <td>
                <%= link_to 'Șterge', group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
    <%= will_paginate @groups, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</table>
<br>
<% if admin_user? %>
<%= link_to 'Grupa Noua', new_group_path, class: "btn btn-info" %>
<% end %>

