<p id="notice">
    <%= notice %>
</p>
<div class="mt-4 p-5 bg-light text-black rounded --bs-gray-500">
    <h1>
        <%= @group.group_name %>
    </h1>
    <p>
        <strong>Data:</strong>
        <%= @group.competition.date.strftime("%d/%m/%Y") %>
    </p>
    <p>
        <strong>Competitia:</strong>
        <%= link_to @group.competition.competition_name, @group.competition %>
    </p>
    <hr class="my-4">
    <p>
        <strong>Tipul Distantei</strong>
        <%= @group.competition.distance_type %>
    </p>
    <p>
        <strong>Clasa</strong>
        <%=@group.clasa %>
    </p>
    <p>
        <strong>Rang</strong>
        <%= @group.rang %>
    </p>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col">
                    <%= link_to 'Locul' %>
                </th>
                <th>
                    <%= link_to 'Sportiv'%>
                </th>
                <th>
                    <%= link_to 'Categoria actuală'%>
                </th>
                <th>
                    <%= link_to 'Timpul'%>
                </th>
                <th>
                    <%= link_to 'Categoria indeplinita' %>
                </th>
                <th>
                    <%= link_to 'Competitia' %>
                </th>
                <th>
                    <%= link_to 'Grupa' %>
                </th>
                <th>
                    <%= link_to 'Wre Puncte' %>
                </th>
            </tr>
        </thead>

    </table>
    <p class="lead">
        <% if admin_user? %>
        <%= link_to 'Editează', edit_polymorphic_path(@group), class: "btn btn-success btn-sm" %>
        <%= link_to 'Șterge', @group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        <% end %>
        <%= link_to 'Înapoi', request.referer, class: "btn btn-secondary btn-sm" %>
    </p>
</div>
