<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @group.group_name %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @group.competition %>
</p>

<p>
  <strong>Rang:</strong>
  <%= @group.rang %>
</p>

<p>
  <strong>Clasa:</strong>
  <%= @group.clasa %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
