<%= form_with(model: result) do |form| %>
<% if result.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>
    <ul>
        <% result.errors.each do |error| %>
        <li>
            <%= error.full_message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="row">
    <%= form.fields_for :group_attributes do |form_group| %>

    <%= render 'results_script', form_group: form_group, form: form %>


    <div class="col">
        <%= form_group.label :competition_id ,'Competitia'%>
        <%= form_group.select :competition_id,  options_for_select(Competition.all.map { |comp| [comp.competition_name, comp.id] } + [["Competitie Noua", nil]], selected: result&.group&.competition_id || 2), {},{class: "form-select form-group form-control"} %>
    </div>
    <div class="col" id="group-data">
    </div>
</div>
<br>
<div id="new-competition"></div>
<br>
<% end %>
<div class="row">

    <div class="col">
        <%= form.select :runner_id, options_for_select(Runner.all.map { |runner| ["#{runner.runner_name} #{runner.surname}", runner.id] }, selected: result&.runner_id), {}, { class: "form-select form-group form-control" } %>

    </div>
    <div class="col">
        <%= form.select :category_id,  options_for_select(Category.all.map { |category| [category.category_name, category.id] },selected: result&.category_id), {},{class: "form-select form-group form-control"} %>
    </div>
    <div class="col">
        <%= form.number_field :wre_points, placeholder: "WRE Puncte", class: "form-control"  %>
    </div>
</div>
<br>
<div id="result-details" style="display:none">
    <div class="row">
        <div class="col">
            <%= form.number_field :place, placeholder: "Locul", class: "form-control"  %>
        </div>
        <div class="col" style="display:none">
            <%= form.number_field :time, placeholder: "Timpul", class: "form-control" %>
        </div>
        <div class="col">
            <%= number_field_tag :hours, nil,  placeholder: "Ore", class: "form-control" %>
        </div>
        <div class="col">
            <%= number_field_tag :minutes, nil, placeholder: "Minute", class: "form-control"  %>
        </div>
        <div class="col">
            <%= number_field_tag :seconds, nil, placeholder: "Secunde", class: "form-control"  %>
        </div>
    </div>
</div>
<br>
<div class="actions">
    <%= form.submit class: "btn btn-success btn-sm"%>
    <%= link_to 'Inapoi', request.referer, class: "btn btn-secondary btn-sm" %>
</div>
<% end %>
