<% group_id ||= nil %>
<table class="table table-striped table-bordered table-hover" id="results-table">
    <thead class="table-primary">
        <tr>
            <th scope="col" class="sortable" data-sort-by="place">
                <%= link_to 'Locul' %>
            </th>
            <% unless controller.class == RunnersController %>
            <th class="sortable" data-sort-by="runner_name">
                <%= link_to 'Sportiv'%>
            </th>
            <% end %>
            <th class="sortable" data-sort-by="current_category_id">
                <%= link_to 'Categoria actuală'%>
            </th>
            <th class="sortable" data-sort-by="time">
                <%= link_to 'Timpul' %>
            </th>
            <th class="sortable" data-sort-by="category_id">
                <%= link_to 'Categoria indeplinita' %>
            </th>
            <% unless [GroupsController, CompetitionsController].include?(controller.class)%>
            <th class="sortable" data-sort-by="date">
                <%= link_to 'Data' %>
            </th>
            <th class="sortable" data-sort-by="competition_name">
                <%= link_to 'Competitia' %>
            </th>
            <% end %>
            <% unless controller.class == RunnersController %>
            <th class="sortable" data-sort-by="group_name">
                <%= link_to 'Grupa' %>
            </th>
            <% end %>
            <th class="sortable" data-sort-by="wre_points">
                <%= link_to 'Wre Puncte' %>
            </th>
            <th class="sortable" data-sort-by="ecn_points">
                <%= link_to 'ECN Puncte' %>
            </th>
            <% if [CompetitionsController, ResultsController].include?(controller.class) %>
            <th colspan="3">Acțiuni</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% results.each do |result| %>
        <tr id="result_<%= result.id %>">
            <td>
                <%= result.place %>
            </td>
            <% unless controller.class == RunnersController %>
            <td>
                <%= link_to "#{result.runner.runner_name} #{result.runner.surname}", result.runner  %>
            </td>
            <% end %>
            <td>
                <% @default_category ||= Category.find(10) %>
                <%= (result.runner.entries.select { |entry| entry["status"] == "confirmed"  && entry["date"] < result.date }.sort_by(&:date).reverse.first&.category || @default_category).category_name %>
            </td>
            <td>
                <%= Time.at(result.time).utc.strftime('%H:%M:%S') %>
            </td>
            <td>
                <%= result.category.category_name %>
            </td>
            <% unless [GroupsController, CompetitionsController].include?(controller.class)%>
            <td>
                <%= result.date %>
            </td>
            <td>
                <%= link_to "#{result.group.competition.competition_name} #{result.group.competition.date.year}", result.group.competition %>
            </td>
            <% end %>
            <% unless controller.class == RunnersController %>
            <td>
                <%= link_to result.group.group_name, result.group %>
            </td>
            <% end %>
            <td>
                <%= result.wre_points %>
            </td>
            <td>
                <%= result.ecn_points %>
            </td>
            <% if [CompetitionsController, ResultsController].include?(controller.class) %>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <%= link_to 'Arată', result, class: "btn btn-warning btn-sm"%>
                    <% if admin_user? %>
                    <%= button_tag 'Editează', onclick: "show_hide_form_result('#edit_result_#{result.id}', '#result_#{result.id}')", class: "btn btn-success btn-sm" %>

                    <%= link_to 'Șterge', result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                    <% end %>
                </div>
            </td>
            <% end %>
        </tr>
        <tr id="edit_result_<%= result.id %>" style="display: none;">
            <%= form_with(model: result, url: result_path(result), method: :patch, local: true) do |form| %>
            <td>
                <%= form.number_field :place, value: result.place, step: 1, min: 1, placeholder: "Locul", class: "form-control"  %>
            </td>
            <td>
                <%= form.select :runner_id, options_for_select(Runner.order(:runner_name, :surname).map { |runner| ["#{runner.runner_name} #{runner.surname}", runner.id] }, selected: result&.runner_id), {}, { class: "form-select form-group form-control" } %>
            </td>
            <td></td>
            <td>
                <%= form.text_field :time, value:  Time.at(result.time).utc.strftime("%H:%M:%S") ,placeholder: "hh:mm:ss", class: "form-control" %>
            </td>
            <td>
                <%= form.select :category_id,  options_for_select(Category.all.map { |category| [category.category_name, category.id] }, selected: result&.category_id), {},{class: "form-select form-group form-control"} %>
            </td>
            <td>
                <%= form.hidden_field :group_id, value: group_id %>
            </td>
            <td>
                <%= form.number_field :wre_points, value: result.wre_points %>
            </td>
                        <td>
                <%= form.text_field :ecn_points, value: result.ecn_points %>
            </td>
            <td>
               <button type="submit" style="border: none; background: none;">
            <%= image_tag("/confirm.png", alt: "Actualizeaza Rezultat", size: "35x30" ) %>
          </button>
            <% end %>
            <%= image_tag "/reject.jpeg", alt: "Hide", size: "30x30", onclick: "show_hide_form_result('#result_#{result.id}', '#edit_result_#{result.id}')" %></td>
        </tr>
        <% end %>
        <% if admin_user? && group_id %>
        <tr style="display: none" id="new_result_row_<%= group_id %>">
            <%= form_with(model: Result.new, url: results_from_competition_path, local: true) do |form| %>
            <td>
                <%= form.number_field :place, step: 1, min: 1, placeholder: "Locul", value: ((Group.find(group_id).results.pluck(:place).map(&:to_i).max || 0) +1), class: "form-control"  %>
            </td>
            <td>
                <%= form.select :runner_id, options_for_select(Runner.order(:runner_name, :surname).map { |runner| ["#{runner.runner_name} #{runner.surname}", runner.id] }), {}, { class: "form-select form-group form-control" } %>
            </td>
            <td></td>
            <td>
                <%= form.text_field :time, placeholder: "hh:mm:ss", class: "form-control" %>
            </td>
            <td>
                <%= form.select :category_id,  options_for_select(Category.all.map { |category| [category.category_name, category.id] }, selected: 10), {},{class: "form-select form-group form-control"} %>
            </td>
            <td>
                <%= form.hidden_field :group_id, value: group_id %>
            </td>
            <td>
               <button type="submit" style="border: none; background: none;">
            <%= image_tag("/confirm.png", alt: "Adaugă Rezultat", size: "35x30" ) %>
          </button>
            </td>
            <% end %>
            <td><%= image_tag "/reject.jpeg", alt: "Hide", size: "30x30", onclick: "show_hide_form_result('#new_result_#{group_id}', '#new_result_row_#{group_id}')" %></td>
        </tr>
        <% end %>

    </tbody>
    <% if show_pagination %>
    <div class="pagination">
        <%= will_paginate results, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
    <% end %>
</table>
<% if admin_user? && group_id %>
<button type="button" class="btn btn-secondary" id="new_result_<%= group_id %>" onclick="show_hide_form_result('#new_result_row_<%= group_id %>', this)">New result</button>
<hr>
<% end %>
<script>
    function show_hide_form_result(showSelector, hideSelector) {
         var show_el = $(showSelector);
        var hide_el = $(hideSelector);

        show_el.show();
        hide_el.hide();
    }

    function hide_form_result() {
        $("#new_result_row").hide();
        $("#new_result").show();
    }

</script>
