<table class="table table-striped table-bordered table-hover" id="results-table">
    <thead class="table-primary">
        <tr>
            <th scope="col" class="sortable" data-sort-by="place">
                <%= link_to 'Locul' %>
            </th>
            <% unless controller.class == RunnersController %>
            <th class="sortable" data-sort-by="runner_name">
                <%= link_to 'Sportiv'%>
            </th>
            <% end %>
            <th class="sortable" data-sort-by="current_category_id">
                <%= link_to 'Categoria actuală'%>
            </th>
            <th class="sortable" data-sort-by="time">
                <%= link_to 'Timpul' %>
            </th>
            <th class="sortable" data-sort-by="category_id">
                <%= link_to 'Categoria indeplinita' %>
            </th>
            <% unless [GroupsController, CompetitionsController].include?(controller.class)%>
            <th class="sortable" data-sort-by="date">
                <%= link_to 'Data' %>
            </th>
            <th class="sortable" data-sort-by="competition_name">
                <%= link_to 'Competitia' %>
            </th>
            <% end %>
            <% unless controller.class == RunnersController %>
            <th class="sortable" data-sort-by="group_name">
                <%= link_to 'Grupa' %>
            </th>
            <% end %>
            <th class="sortable" data-sort-by="wre_points">
                <%= link_to 'Wre Puncte' %>
            </th>
            <th class="sortable" data-sort-by="ecn_points">
                <%= link_to 'ECN Puncte' %>
            </th>
            <% if controller.class == ResultsController %>
            <th colspan="3">Acțiuni</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% results.each do |result| %>
        <tr>
            <td>
                <%= result.place %>
            </td>
            <% unless controller.class == RunnersController %>
            <td>
                <%= link_to "#{result.runner.runner_name} #{result.runner.surname}", result.runner  %>
            </td>
            <% end %>
            <td>
                <% @default_category ||= Category.find(10) %>
                <%= (result.runner.entries.select { |entry| entry["status"] == "confirmed"  && entry["date"] < result.date }.sort_by(&:date).reverse.first&.category || @default_category).category_name %>
            </td>
            <td>
                <%= Time.at(result.time).utc.strftime('%H:%M:%S') %>
            </td>
            <td>
                <%= result.category.category_name %>
            </td>
            <% unless [GroupsController, CompetitionsController].include?(controller.class)%>
            <td>
                <%= result.date %>
            </td>
            <td>
                <%= link_to "#{result.group.competition.competition_name} #{result.group.competition.date.year}", result.group.competition %>
            </td>
            <% end %>
            <% unless controller.class == RunnersController %>
            <td>
                <%= link_to result.group.group_name, result.group %>
            </td>
            <% end %>
            <td>
                <%= result.wre_points %>
            </td>
            <td>
                <%= result.ecn_points %>
            </td>
            <% if controller.class == ResultsController%>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <%= link_to 'Arată', result, class: "btn btn-warning btn-sm"%>
                    <% if admin_user? %>
                    <%= link_to 'Editează', edit_polymorphic_path(result), class: "btn btn-success btn-sm"%>
                    <%= link_to 'Șterge', result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                    <% end %>
                </div>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
    <% if show_pagination %>
    <div class="pagination">
        <%= will_paginate results, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
    <% end %>
</table>
