<p id="notice"><%= notice %></p>

<h1 style="text-align:center; color:green">Rezultate</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-primary">
     <tr>
      <th scope="col"> <%= link_to 'Locul',  sort: "place" %></th>
      <th><%= link_to 'Sportiv', sort: "runner"%></th>
      <th><%= link_to 'Timpul', sort: "time" %></th>
      <th><%= link_to 'Categoria indeplinita', sort: "category_id" %></th>
      <th><%= link_to 'Competitia', sort: "competition" %></th>
      <th><%= link_to 'Grupa', sort: "group" %></th>
      <th><%= link_to 'Wre Puncte', sort: "wre_points" %></th>
      <th colspan="3">Acțiuni</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.place %></td>
        <td><%= link_to "#{result.runner.runner_name} #{result.runner.surname}", result.runner  %></td>
        <td><%= Time.at(result.time).utc.strftime('%H:%M:%S') %></td>
        <td><%= result.category.category_name %></td>
        <td><%= link_to "#{result.group.competition.competition_name} #{result.group.competition.date.year}", result.group.competition %></td>
        <td><%= link_to result.group.group_name, result.group %></td>
        <td><%= result.wre_points %></td>
        <td><div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to 'Arată', result, class: "btn btn-warning btn-sm"%>
        <% if admin_user? %>
          <%= link_to 'Editează', edit_polymorphic_path(result), class: "btn btn-success btn-sm"%>
          <%= link_to 'Șterge', result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        <% end %>

</div></td>

      </tr>
    <% end %>
  </tbody>
   <div class="pagination">
  <%= will_paginate @runners, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
</table>

<br>

<% if admin_user? || club_admin? %>
<%= link_to 'Rezultat Nou', new_result_path, class: "btn btn-info" %>
<% end %>
