<p id="notice"><%= notice %></p>

<h1 style="text-align:center; color:green">Rezultat</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-primary">
     <tr>
      <th scope="col"> <%= link_to 'Locul' %></th>
      <th><%= link_to 'Sportiv'%></th>
      <th><%= link_to 'Timpul'%></th>
      <th><%= link_to 'Categoria indeplinita' %></th>
      <th><%= link_to 'Competitia' %></th>
      <th><%= link_to 'Grupa' %></th>
      <% if @result.wre_points %>
        <th><%= link_to 'Wre Puncte' %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @result.place %></td>
        <td><%= link_to "#{@result.runner.runner_name} #{@result.runner.surname}", @result.runner  %></td>
        <td><%= Time.at(@result.time).utc.strftime('%H:%M:%S') %></td>
        <td><%= @result.category.category_name %></td>
        <td><%= link_to "#{@result.group.competition.competition_name} #{@result.group.competition.date.year}", @result.group.competition %></td>
        <td><%= link_to @result.group.group_name, @result.group %></td>
        <% if @result.wre_points %>
          <td><%= @result.wre_points %></td>
        <% end %>


      </tr>
  </tbody>
</table>

<p class="lead">
        <% if admin_user? %>
        <%= link_to 'Editează', edit_polymorphic_path(@result), class: "btn btn-success btn-sm" %>
        <%= link_to 'Șterge', @result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        <% end %>
        <%= link_to 'Înapoi', request.referer, class: "btn btn-secondary btn-sm" %>
    </p>
