<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col">
     <%= form.text_field :category_name, placeholder: "Numele", class: "form-control"  %>
  </div>
  <div class="col">
     <%= form.text_field :full_name, placeholder: "Numele Complet", class: "form-control"  %>
  </div>
    <div class="col">
     <%= form.text_field :points, placeholder: "Puncte", class: "form-control"  %>
  </div>
</div>
</div>
    <div class="col">
     <%= form.text_field :validaty_period, placeholder: "validitate", class: "form-control"  %>
  </div>
</div>
<br>

 <div class="actions">
    <%= form.submit class: "btn btn-success btn-sm"%>
    <%= link_to 'Inapoi', request.referer, class: "btn btn-secondary btn-sm" %>
</div>
<% end %>
