<p id="notice">
    <%= notice %>
</p>
<div class="mt-4 p-5 bg-light text-black rounded --bs-gray-500">
    <h1>
        <%= @category.full_name %>
    </h1>
    <p>
        <strong>Denumire:</strong>
        <%= @category.category_name %>
    </p>
    <hr class="my-4">
    <p>
        <strong>Puncte</strong>
        <%= @category.points %>
    </p>
    <p>
        <strong>Numarul de sportivi:</strong>
        <%= link_to @category.runners.count, runners_path(category_id: @category.id) %>
    </p>
    <%= render partial: 'runners/runners_table', locals: { category: @category, runners: @runners, show_pagination: false, controller: "category"  } %>

    <p class="lead">
        <% if admin_user? %>
        <%= link_to 'Editează', edit_polymorphic_path(@category), class: "btn btn-success btn-sm" %>
        <%= link_to 'Șterge', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        <% end %>
        <%= link_to 'Înapoi', request.referer, class: "btn btn-secondary btn-sm" %>
    </p>
</div>
